[Desktop Entry]
Version=1.0
Type=Application
Name=Goblins' Lot
GenericName=Goblin Camp Simulation
Comment=Build your own Goblin Camp
Icon=goblin-camp

Exec=goblins-lot
Terminal=false
StartupNotify=false

Categories=Game;Simulation;
Keywords=game;simulation;goblins-lot;
